    
	body{
	font-family:system-ui,-apple-system,Segoe UI,Roboto,Arial;
	margin:0;
	color:#111;
	background:#fff
	}
    header{
	background:#0a74da;
	color:#fff;
	padding:28px 20px
	}
    .container{
	max-width:1000px;
	margin:24px auto;
	padding:0 16px
	}
    h1,h2{
	margin:0 0 8px
	}
	
    .project{
	border-top:1px solid #eee;
	padding:20px 0
	}
    .p1{
	color:#fff;
	font-size:0.95rem;
	margin-bottom:12px
	}
	.desc{
	color:#555;
	font-size:0.95rem;
	margin-bottom:12px
	}
    .media{
	display:flex;
	justify-content: center;
	gap:12px;
	flex-wrap:wrap
	}
    .media img{
	max-width:800px;
	height:auto;
	border:1px solid #ddd
	}

	/* Styl dla ciemnego tła */
	#img-overlay {
	  display: none;
	  position: fixed;
	  inset: 0;
	  background: rgba(0,0,0,0.8);
	  justify-content: center;
	  align-items: center;
	  z-index: 9999;
	}

	/* Obraz w powiększeniu */
	#img-overlay img {
	  max-width: 90%;
	  max-height: 90%;
	  border-radius: 10px;
	  box-shadow: 0 0 20px rgba(0,0,0,0.5);
	  cursor: zoom-out;
	}
	
    .video{
	min-width:320px
	}
    a.button{
	display:inline-block;
	background:#0a74da;
	color:#fff;
	padding:8px 12px;
	border-radius:6px;
	text-decoration:none
	}
    footer{
	color:#666;
	font-size:0.9rem;
	text-align:center;
	padding:28px 0
	}
    @media(max-width:600px)
	{
		.media{
		flex-direction:column
		}
		.media img,.video{
		max-width:100%
		}
	}